*{
	box-sizing : border-box;
	font-family: 'Roboto Condensed', sans-serif;
	color: #f9f9f9;
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background-color: #040714;
	
}

.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 60px; }

.grid-container{
	display: grid;
}

.centered{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


@keyframes pulse{
  25%  {
  	transform: scale(0.9);
  }
  75%  {
  	transform: scale(1.1);
  }
}


nav{
	padding-left: 10px;
	top:0;
	width: 100%;
	height: 100px;
	position: fixed;
	display: flex;
	align-items: center;
	background-color: #040714;;
	justify-content: space-between;
	z-index:1000;
}

.navigation{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 2em;
	margin-right: 30px
}

.navigation li{
	margin-right: 50px;
}


#logo{
	width: 10em;
	height: 80px;
	margin: 1em;
}


.hero-container{
	width: 100%;
	height: 55em;
}

#hero1{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("imgs/heroshot.jpg");
	background-position: center;
	background-size: cover;
}

#hero2{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("imgs/rick-and-morty.jpg");
	background-position: center;
	background-size: cover;
}


#hero3{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("imgs/simpsons.jpg");
	background-position: top;
	background-size: cover;
}

#hero4{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("imgs/m&c.jfif");
	background-position: center;
	background-size: cover;
}

.slide{
	display: none;
}

.hero-text {
  text-align: center;
  font-size: 20px;
  margin-top: -110px;
}


#hero-icon {
  text-align: center;
  margin-top: 100px;
}

#expand-more{
	animation: pulse 1s ease-in infinite;
}

main{
	width: 100%;
	height: 1000px;
}

.categoria-flex{
	margin-top:20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.frame{
	width:300px;
	height:200px;
	border-radius: 15px;
	background-position: center;
	filter: drop-shadow(0 0 0.3rem white);
}


.frame:hover{
    transform: scale(1.1);
}

.frame[id*="indiana"]{
	background-image: url("imgs/indiana.jpg");
}

.frame[id*="indiana"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/indiana.jpg");
}

.frame[id*="star-wars"]{
	background-image: url("imgs/the-last-jedi.jpg");
}

.frame[id*="star-wars"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/the-last-jedi.jpg");
}


.movie-title{
	text-align: center;
	font-size: 0.9em;
	transform: translateY(5.5em);
	visibility: hidden;
}

.frame:hover .movie-title{
	visibility: visible;
}

.categoria{
	display: block;
	margin-top: 2em;
	margin-left: 1em;
	font-size: 35px;
}


footer{
	text-align: center;
}


