*{
	box-sizing : border-box;
	font-family: 'Roboto Condensed', sans-serif;
	color: #f9f9f9;
	list-style: none;
	padding: 0px;
	margin:0px;
}

a{
	text-decoration: none;
}

a:hover{
	filter: drop-shadow(0 0 0.3rem white);
}

body{
	background-color: #040714;
	
}

.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 60px; }

.grid-container{
	display: grid;
}

.centered{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


@keyframes pulse{
  25%  {
  	transform: scale(0.9);
  }
  75%  {
  	transform: scale(1.1);
  }
}


nav{
	width: 100%;
	top:0;
	min-height: 8vh;
	position: fixed;
	display: flex;
	align-items: center;
	background-color: #040714;
	justify-content: space-around;
	z-index:1000;
}

.links{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 1.5em;
}

.links li{
	padding: 1.5rem;
}

#logo{
	width: 10em;
}

.hero-container{
	width: 100%;
	height: 55em;
}

#hero1{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("imgs/heroshot.jpg");
	background-position: center;
	background-size: cover;
}

#hero2{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("imgs/rick-and-morty.jpg");
	background-position: center;
	background-size: cover;
}


#hero3{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("imgs/simpsons.jpg");
	background-position: top;
	background-size: cover;
}

#hero4{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("imgs/m&c.jfif");
	background-position: center;
	background-size: cover;
}

.slide{
	display: none;
}

.hero-text {
  text-align: center;
  font-size:1.25rem;
  margin-top: -6.875rem;
}


#hero-icon {
  text-align: center;
  margin-top: 3rem;
}

#expand-more{
	animation: pulse 1s ease-in infinite;
}

main{
	max-width: 100%;
}

.categoria-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.categoria{
	display: block;
	padding: 2rem;
	font-size: 2.19rem;
}

.section{
	padding: 1rem;
}


.frame{
	width:18.75rem;
	height:12.5rem;
	border-radius: 15px;
	background-position: center;
	filter: drop-shadow(0 0 0.3rem white);
}


.frame:hover{
    transform: scale(1.1);
}

.frame[id*="indiana"]{
	background-image: url("imgs/indiana.jpg");
}

.frame[id*="indiana"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/indiana.jpg");
}

.frame[id*="deadpool"]{
	background-image: url("imgs/deadpool.png");
}

.frame[id*="deadpool"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/deadpool.png");
}

.frame[id*="batman"]{
	background-image: url("imgs/batman.png");
}

.frame[id*="batman"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/batman.png");
}

.frame[id*="sniper"]{
	background-image: url("imgs/sniper.png");
}

.frame[id*="sniper"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/sniper.png");
}

.frame[id*="soldado-ryan"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/soldado-ryan.png");
}

.frame[id*="soldado-ryan"]{
	background-image: url("imgs/soldado-ryan.png");
}

.frame[id*="star-wars"]{
	background-image: url("imgs/the-last-jedi.jpg");
}

.frame[id*="star-wars"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/the-last-jedi.jpg");
}

.frame[id*="harry-potter"]{
	background-image: url("imgs/harry-potter.png");
}

.frame[id*="harry-potter"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/harry-potter.png");
}

.frame[id*="et"]{
	background-image: url("imgs/et.png");
}

.frame[id*="et"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/et.png");
}

.frame[id*="armageddon"]{
	background-image: url("imgs/armageddon.png");
}

.frame[id*="armageddon"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/armageddon.png");
}

.frame[id*="mib"]{
	background-image: url("imgs/mib.png");
}

.frame[id*="mib"]:hover{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("imgs/mib.png");
}



.movie-title{
	text-align: center;
	font-size: 0.9em;
	transform: translateY(5.5em);
	visibility: hidden;
}

.frame:hover .movie-title{
	visibility: visible;
}

footer{
	text-align: center;
	margin-top: 10rem;
}


.iframes{
	top: 15%;
	left: 1%;
	border-radius: 10px;
	position: absolute;
	overflow:hidden;
}

#covers{
	top: 90%;
	left: 1%;
	height: 300px;
	width: 200px;
	position: absolute;
}

.synopsis{
	top: 90%;
	left: 19%;
	position: absolute;
	width:23rem;
	height:18.75rem;
}

.info{
	top: 90%;
	left: 49%;
	position: absolute;
	width:16rem;
	height:18.75rem;
	background-color: white;
	color: black;
	border-radius: 10px;
	text-align: center;
}

.info > p{
	color: black;
}

