*{
	box-sizing : border-box;
	font-family: 'Roboto Condensed', sans-serif;
	color: #f9f9f9;
}

body{
	background-color: #040714;
}

.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 60px; }

.grid-container{
	display: grid;
}

.centered{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes pulse{
  25%  {
  	transform: scale(0.9);
  }
  75%  {
  	transform: scale(1.1);
  }
}

nav{
	padding-left: 10px;
	top:0;
	width: 100%;
	height: 100px;
	position: fixed;
	display: flex;
	align-items: center;
	background-color: #040714;;
	justify-content: space-between;
	z-index:1000;
}

.navigation{
	list-style:none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 2em;
	margin-right: 30px
}

.navigation li{
	margin-right: 50px;
}

.navigation li a{
	text-decoration: none;
}


#logo{
	width: 10em;
	height: 80px;
	margin: 1em;
}


#hero-container{
	width: 100%;
	height: 55em;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("imgs/heroshot.jpg");
	background-position: center;
	background-size: cover;
}

.hero-text {
  text-align: center;
  font-size: 20px;
  margin-top: -110px;
}


#hero-icon {
  text-align: center;
  margin-top: 100px;
}

#expand-more{
	animation: pulse 1s ease-in infinite;
}

main{
	
	width: 100%;
	height: 1000px;
}

footer{
	
	text-align: center;
}